<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Expert Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="height: 100%">
    <ion-row style="height: 100%" justify-content-center align-items-center>
      <ion-col size-xs="10" size-sm="8" size-md="6" size-lg="4" size-xl="3" size-xxl="2" text-center>
        <ion-icon name="person" color="secondary" style="font-size: 64px;"></ion-icon>
        <h2><strong>Talk to one of our experts.</strong></h2>
        <p no-margin>Our experts are specialized in misconduct behaviour and help you process and evaluate your experiences.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>