<ion-tabs>

  <ion-tab-bar [hidden]="hideTabBar$ | async" slot="bottom" color="primary">
    <ion-tab-button tab="diary">
      <ion-icon name="folder"></ion-icon>
      <ion-label>Diary</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="guide">
      <ion-icon name="book"></ion-icon>
      <ion-label>Guide</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
